{% extends "layout.html" %}

{% block title %}
    Historial
{% endblock %}

{% block main %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Historial de Mediciones</h2>

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Día</th>
                <th>Fecha</th>
                <th>Calorías Promedio</th>
                <th>Proteinas Promedio</th>
                <th>Carbohidratos Promedio</th>
                <th>Grasas Promedio</th>
            </tr>
        </thead>
        <tbody>
            {% for dato in historial %}
            <tr>
                <td>{{ dato[1] }}</td>
                <td>{{ dato[0] }}</td>
                <td>{{ dato[2] }}</td>
                <td>{{ dato[3] }}</td>
                <td>{{ dato[4] }}</td>
                <td>{{ dato[5] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
